<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/css/main.css" />
    <title>GopherCon Turkey | 18-19, December 2021</title>
  </head>
  <body>
    <div class="mobile-menu">
      <ul class="menu">
        <li><a href="#about">About</a></li>
        <li><a href="#speakers">Speakers</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#sponsors">Sponsors</a></li>
        <li><a href="#ticket" class="button">Tickets</a></li>
      </ul>
      <a href="javascript::void(0)" class="close-menu">x</a>
    </div>

    <a href="javascript::void(0)" class="menu-toggle">
      <img src="assets/img/open-menu.svg" alt="open mobile menu" />
    </a>

    <section id="slider" class="slider">
      <img class="sliderbg" src="assets/img/slider.png" alt="slider" />
      <img class="sliderbgmobile" src="assets/img/slider.png" alt="slider" />

      <div class="header-absolute">
        <div class="container">
          <header>
            <a href="index.html" class="logo"
              ><img src="assets/img/gophercon.png" alt="logo"
            /></a>
            <ul class="menu">
              <li>
                <a href="javascript::void()" class="button menu-toggle">
                  <img
                    src="assets/img/open-menu-white.svg"
                    alt="open mobile menu"
                  />
                </a>
              </li>
            </ul>
          </header>
        </div>
      </div>
      <div class="announcement-aboslute">
        <h1>18-19, December 2021</h1>
        <p>GopherCon is focused on the Go programming language</p>
        <div class="buttons">
          <a target="_blank" href="https://kommunity.com/goturkiye/events/gophercon-turkey-1c8eab1d/cfp" class="btn btn-custom">CALL FOR PAPERS</a>
          <a target="_blank" href="https://kommunity.com/goturkiye/events/gophercon-turkey-1c8eab1d/tickets" class="btn btn-custom">TICKETS</a>
        </div>
      </div>
    </section>
    <section class="about" id="about">
      <div class="container">
        <div class="about-flex">
          <img src="assets/img/gopher-hi.png" alt="gopher" class="gopher" />
          <h2 class="title">ABOUT CONFERENCE</h2>
          <h2>
            GopherCon Turkey brings the Turkish Go community together through
            its events throughout the world. The conference will be held on December
            18-19th at Online. 1000+ Gophers will attend the event.
          </h2>
        </div>
      </div>
    </section>
    <div id="app">
    <section class="speakers" id="speakers">
      <h2 class="title">SPEAKERS</h2>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4 col-lg-3" v-for="speaker in speakers">
            <div class="profile">
              <img :src="speaker.avatar"  alt="avatar" class="avatar" />
              <p class="name">{{ speaker.name }}</p>
              <p class="position">{{ speaker.bio }}</p>
              <ul class="social">
                <li><a target="_blank" :href="speaker.social_networks.twitter"><img src="assets/img/twitter.svg" alt="twitter"/></a></li>
                <li><a target="_blank" :href="speaker.social_networks.github"><img src="assets/img/github.svg" alt="github"/></a></li>
                <li><a target="_blank" :href="speaker.social_networks.linkedin" alt="linkedin"/></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="schedule" id="schedule">
      <img
        src="assets/img/gopher-02.png"
        alt="gopher"
        class="gopher hide-mobile"
      />
      <h2 class="title">SCHEDULE</h2>
      <div class="container">
        <div class="feed-out">
          <div class="feed">
            <div class="line-center">
              <div class="track-title flex1 hide-mobile">
                <p>Turkish Track</p>
                <img class="arrow" src="assets/img/arrow.svg" alt="arrow" />
              </div>
              <div class="flex1 flex-center">
                <div class="timer">11:00 - Start</div>
              </div>
              <div class="track-title flex1 hide-mobile">
                <p>English Track</p>
                <img class="arrow" src="assets/img/arrow.svg" alt="arrow" />
              </div>
            </div>
            <div class="line-center">
              <div class="turkish-tracks">
                <div v-for="track in turkishTracks" class="custom-card custom-card-left flex1 mt-5">
                  <div class="timer timer-absolute">{{ track.start }} - {{ track.end }}</div>
                  <pre>Turkish Track</pre>
                  <p class="title">{{ track.title }}</p>
                  <div class="author">
                    <img
                            :src="track.avatar"
                      alt="avatar"
                      class="avatar"
                    />
                    {{ track.speakerName }}
                  </div>
                </div>
              </div>
              <div class="english-tracks">
                <div v-for="track in englishTracks" class="custom-card custom-card-right flex1 mt-5">
                  <div class="timer timer-absolute"> {{ track.start }} - {{ track.end }} </div>
                  <pre>English Track</pre>
                  <p class="title">{{ track.title }}</p>
                  <div class="author">
                    <img
                      :src="track.avatar"
                      alt="avatar"
                      class="avatar"
                    />
                    {{ track.speakerName }}
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="line-center">
              <div class="flex1 flex-center">
                <div class="timer timer-gray mt-5">
                  Coffee Break 10:10 - 10:40
                </div>
              </div>
            </div> -->
            <div class="line-center">
              <div class="flex1 flex-center">
                <div class="timer mt-5">18:00 - Finish</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ticket" id="ticket">
      <img
        src="assets/img/gopher-07.png"
        alt="gopher"
        class="gopher hide-mobile"
      />
      <h2 class="title">TICKETS</h2>
      <div class="container">
        <div class="tables">
          <div class="table mt-4" v-for="ticket in tickets">
            <img
              src="assets/img/gopher-03.png"
              alt="gopher"
              class="gopher-free"
            />
            <div class="name">{{ ticket.name }}</div>
            <p v-if="ticket.price == 0" class="price"> Free </p>
            <p v-if="ticket.price != 0" class="price"> {{ ticket.price }} TL </p>
            <div class="mt-4" v-html="ticket.description"></div>

            <a href="https://kommunity.com/goturkiye/events/gophercon-turkey-1c8eab1d/tickets" class="buy">REGISTER</a>
          </div>
        </div>
      </div>
    </section>
    <section class="sponsors" id="sponsors">
      <img
        src="assets/img/gopher-06.png"
        alt="gopher"
        class="gophers hide-mobile"
      />
      <h2 class="title">SPONSORS</h2>
      <div class="container">
        <div class="owl-carousel owl-theme">
          <div class="sponsor" v-for="sponsor in sponsors">
            <a :href="sponsor.link"><img :src="sponsor.logo"  alt="sponsor"/></a>
          </div>
        </div>
        <p class="info">
          Would you like to be the part of this great event?
          <br />
          Please
          <a
            href="mailto:sponsor@gopher.istanbul"
            >get in touch</a
          >
          with us for sponsorship options!
        </p>
      </div>
    </section>
    </div> <!-- TODO: add this div to end of the schedule section-->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
          </div>
          <div class="col-12 col-md-4">
            <ul class="footer-menu">
              <li>
                <a target="_blank" href="https://golang.org/conduct"
                  >Code of Conduct</a
                >
              </li>
              <li>
                <a href="mailto:social@gopher.istanbul"
                  >Contact Us</a
                >
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-4">
            <ul class="footer-social-menu">
              <li>
                <a href="https://twitter.com/GoTurkiye_" title="twitter"
                  ><img src="assets/img/twitter-white.svg" alt="twitter"
                /></a>
              </li>
              <li>
                <a href="https://github.com/GoTurkiye" title="github"
                  ><img src="assets/img/github-white.svg" alt="github"
                /></a>
              </li>
              <li>
                <a href="https://kommunity.com/goturkiye" title="kommunity"
                  ><img src="assets/img/kommunity.svg" alt="kommunity"
                /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
